.name {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
.product {
  width: 33.33%;
  box-sizing: border-box;
  padding: 30px;
}

.image {
  display: flex;
  margin-left: 20%;
  height: 200px;
}

.number {
  color: blue;
}

.rating {
  display: flex;
}