.container {
    display: flex;
    color: white;
    align-items: center;
    width: 76%;
    height: 70px;
    margin-left: 12%;
    gap: 10px;
}

.brand {
    font-size: 24px;
    font-weight: 700;
}

.HeaderBackground {
    background-color: rgba(0,25,76);

}