.background {
    background-color: rgb(65, 150, 164);
    display: flex;
    align-items: center;
    width: 61%;
    height: 50px;
    margin-left: 12%;
    margin-top: 3px;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: center;
    margin-left: 1%;
    color: white   
}

.header {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    
}