.container {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 27%;
    background-color: white;
    
}

.Title {
    font-size: 26px;
    font-weight: 700;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 50px;
    border-bottom: 1px solid black;
}
.body {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2%;
    margin-right: 2%;
    gap: 8px;
    font-size: 20px;
}

.topic {
    font-weight: 700;
}